---
import Layout from "~/layouts/index.astro";

import Hero from "~/components/hero.astro";
import Content from "~/components/content.astro";
import Header from "~/components/header.astro";
import Contact from "~/components/contact.astro";
import Faqs from "~/components/faqs.astro";
import Projects from "~/components/projects.astro";
import Roles from "~/components/roles.astro";

import "~/styles/global.css";
---

<Layout
  title="Jordan Accinelli | Website Enthusiast"
  description="I like making stuff people like to use. If it's something on the internet, I can probably make it. Probably."
>
  <Hero heading="I like making things people like using" />
  <Header id="roles" text="Notable Roles" />
  <Roles />
  <Header id="projects" text="Projects" />
  <Projects />
  <Header id="about" text="About" />
  <Content heading="All of my projects are passion projects.">
    <p>
      I love working on projects that are do something new, something meaningful, or something interesting. I find those
      projects engaging, and do my best work when I'm engaged.
    </p>
    <p>
      I highly value community projects that help support local business and meaningful causes. I don't take on personal
      work I don't feel meets those criteria.
    </p>
  </Content>
  <Content heading="Outside of my work, I'm a foodie and trivia fiend.">
    <p>
      I am currently on a weekly quest to dethrone our local trivia regulars. After searching far and wide, I can highly
      recommend <a href="https://www.isolationtrivia.com/" target="_blank" class="underline underline-offset-4"
        >Isolation Trivia</a
      > for a good night out with questions that don't feel like they were ripped out of the 60's.
    </p>
    <p>
      I also love a good meal - cheap or fancy, local or extravagant - so long as it tastes good, I'm 100% there. Fun
      fact; I once did the Riess Motivation Profile and my main motivator in life was 'Food'.
    </p>
    <p>Unrelated, but I have been known to take food as compensation. Just so you know.</p>
  </Content>
  <Header id="faqs" text="FAQs" />
  <Faqs />
  <Header id="contact" text="Contact" />
  <Contact
    heading="Let's get to know each other."
    blurb="If you like what you've seen here, you can leave your details in the form below, and I'll get back to you as soon as I can."
  />
</Layout>
