---
import { Icon } from "astro-icon/components";
import { getEntry } from "astro:content";

const entry = await getEntry("links", "connect");
---

<div class="group flex flex-col items-start gap-8 px-8 py-12">
  <p>You can reach out to me using any of the methods below!</p>
  <div class="flex w-full flex-col gap-2">
    {
      entry?.data.items.map((link) => (
        <a
          href={link.url}
          class="flex items-center justify-between gap-4 rounded bg-neutral-800 p-4 hover:bg-white hover:text-neutral-900"
        >
          <span class="font-medium">{link.label}</span>
          <Icon name={link.icon} class="size-5" />
        </a>
      ))
    }
  </div>
</div>
