---
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";

const entry = await getEntry("links", "find");
---

<div class="flex shrink-0 grow items-center justify-between bg-neutral-950/60 px-8 py-6 backdrop-blur-lg">
  <span class="text-sm text-neutral-500"> Made with stress, coffee and magic </span>
  <div class="flex gap-4 text-white">
    {
      entry?.data.items.map((item: any) => (
        <a aria-label={item.label} href={item.url}>
          <Icon name={item.icon} class="h-5 w-5 text-white" />
        </a>
      ))
    }
  </div>
</div>
