---
import Badge from "~/components/badge.astro";

type Props = {
  heading: string;
  blurb: string;
  emoji: string;
};

const { heading, blurb } = Astro.props;
---

<div class="flex flex-col items-start gap-4 px-4 py-12">
  <div class="flex w-full flex-col md:flex-row md:items-center">
    <Badge class="bottom-28 right-18 h-72 w-72 text-emerald-600 md:bottom-0" />
    <div class="flex flex-col gap-1">
      <h1 class="text-3xl font-bold">{heading}</h1>
      <p class="text-xl text-neutral-400">{blurb}</p>
    </div>
  </div>
</div>
