---
type Props = {
  id?: string;
  class?: string;
  label?: string;
  data?: string;
};

const { class: className, label, ...props } = Astro.props;
---

<button
  class:list={[
    "pointer-events-auto -m-4 flex items-center justify-center rounded-full bg-transparent p-4 transition-all hover:bg-neutral-800 hover:cursor-pointer",
    className,
  ]}
  aria-label={label}
  {...props}
>
  <slot />
</button>
