<div class="group/modal">
  <slot name="trigger" />
  <div
    class:list={[
      "pointer-events-none inset-0 z-50 opacity-0 transition-all",
      "group-focus-within/modal:pointer-events-auto group-focus-within/modal:opacity-100",
    ]}
  >
    <slot name="menu" />
  </div>
</div>
