---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

import Pill from "~/components/pill.astro";

const projects = await getCollection("projects");
---

<div class="grid gap-8 p-8 md:grid-cols-2 md:gap-6">
  {
    projects.map((project) => (
      <a class="group relative flex flex-col transition-all" href={project.data.url} target="_blank">
        <div class="pointer-events-none absolute inset-0 rounded-sm transition-all group-hover:-inset-x-3 group-hover:-inset-y-3 group-hover:bg-white/5" />
        <p class="mb-2 flex items-center justify-between gap-2 font-medium">{project.data.title}</p>
        <p class="mb-3 text-neutral-500">{project.data.blurb}</p>
        <div class="flex flex-wrap items-center gap-1 py-2 whitespace-nowrap">
          {project.data.tools.map((tool) => (
            <Pill>{tool}</Pill>
          ))}
        </div>
      </a>
    ))
  }
</div>
