---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

import Pill from "~/components/pill.astro";

const projects = await getCollection("projects");
---

<div class="flex flex-col gap-8 p-8">
  {
    projects.map((project) => (
      <a class="group relative flex flex-col gap-1 transition-all" href={project.data.url} target="_blank">
        <Icon
          name="link-external"
          class="h-4 w-4 text-white absolute top-0 right-0 opacity-0 group-hover:opacity-100 transition"
        />
        <div class="absolute -inset-2 rounded-sm transition-all pointer-events-none group-hover:bg-white/5 group-hover:-inset-4" />

        <p class="font-semibold">{project.data.title}</p>
        <p class="text-neutral-500 max-w-lg">{project.data.blurb}</p>
        <div class="flex flex-wrap items-center gap-1 whitespace-nowrap py-2">
          {project.data.tools.map((tool) => (
            <Pill>{tool}</Pill>
          ))}
        </div>
      </a>
    ))
  }
</div>
